<!DOCTYPE html>
<html>
  <head>
    <title>Survey Time</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1> <a href="/">Survey Time Home </a> </h1>
      <%= yield %>
    </div>
  </body>
</html>
